.navbar {
    --bs-bg-opacity: 1;
    background-color: white !important;
    color: #001219 !important;
}

a{
    color: #001219 !important;
    
}

a:hover{

        color: #d8e2dc !important
    
}

p{
    margin: 0;
}
